#**Nível Pandas**

##**Procedimentos iniciais**

###**Bibliotecas**

In [ ]:
'''
Importando as bibliotecas necessárias.
'''
import pandas as pd
from google.colab import drive
import csv
import os
from google.cloud import storage
from pymongo import MongoClient
import dns
from datetime import datetime

###**Instalações adicionais requeridas**

In [ ]:
'''
Após a instação execute, novamente, a seção 'Bibliotecas'.
'''
!pip install "pymongo[srv]"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.1.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 15.7 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

###**Montando o Drive**

In [ ]:
'''
Comando aplicado para montar o ambiente do Drive.
'''
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##**(E) Extração dos dados**

###**(E) Extração dos dados - parte 1/2**

####**Leitura**

In [ ]:
'''
Lendo arquivo .CSV com o Pandas.
'''
df = pd.read_csv('/content/marketing_campaign.csv', encoding = 'utf-8', sep=';')

In [ ]:
'''
Verificando as 5 primeiras linhas do DataFrame.
'''
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

####**Pré-analise**

In [ ]:
'''
Verificando o número de linhas e colunas do DataFrame.
'''
numero_linhas_df = df.shape[0]
numero_colunas_df = df.shape[1]

print('Número de linhas do DataFrame: ', numero_linhas_df)
print('Número de colunas do DataFrame: ', numero_colunas_df)

Número de linhas do DataFrame:  2240
Número de colunas do DataFrame:  29

In [ ]:
'''
Verificando alguns dados estatísticos.
'''
df.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

In [ ]:
'''
Verificando a existência de 'dados ausentes'.
'''
df.isna().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [ ]:
'''
Verificando valores duplicados no dataframe.
'''
df.duplicated().sum()

0

In [ ]:
'''
Verificando as características gerais do dataframe.
'''
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [ ]:
'''
Explorando colunas do tipo 'object', exceto 'Dt_Customer'(vide 'Observações'adiante).
'''
'''
Apresenta os valores únicos na coluna 'Education'.
'''
df.Education.unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [ ]:
'''
Apresenta os valores únicos na coluna 'Marital_Status'.
'''
df.Marital_Status.unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

####**Observações**:

- Não há valores duplicados no df.
- Somente a coluna 'Income' possui 'valores ausentes'. 24 no total.
- Coluna 'Dt_Customer' possui o tipo 'object'. Formato mais correto seria date.
Realizar tratamento.
- Colunas 'Education' e 'Marital_Status' possuem valores para traduzir.
- Precisa traduzir o nome das colunas.

###**(E) Extração dos dados - parte 2/2**

####**Conexões**

#####**Google Cloud Storage / Bucket**

In [ ]:
'''
Configurando a chave de segurança:
'''
service_account_key = '...' #OMITIDO POR QUESTÕES DE SEGURANÇA. AQUI VAI SUA KEY DO BUCKET'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = service_account_key

In [ ]:
'''
Cliente para interagir com o Google Cloud Storage (GCS).
'''
client = storage.Client()

In [ ]:
'''
Acessando o bucket especificado do GCS.
Atribuindo o acesso a uma variável.
'''
bucket1 = client.get_bucket('projeto-tiago-faustino-bc17')

In [ ]:
'''
Utilizando o objeto 'blob' quando do acesso ao bucket.
Atribuindo operação a uma variável.

Os blobs são objetos que podem conter grandes quantidades de texto ou 
dados binários, incluindo imagens, documentos, mídia de streaming e 
dados de arquivos.
'''

blob001 = bucket1.blob('marketing_campaign.csv')

In [ ]:
'''
Carregamento do arquivo original
'''
'''
Realizando o upload do arquivo original do drive montado para o bucket
anteriormente especificado.
'''
blob001.upload_from_filename('/content/marketing_campaign.csv')

#####**MongoDB Atlas**

In [ ]:
'''
Estabelecendo a conexão com o MongoDB Atlas
'''

'''
Criando uma conexão utilizando o MongoClient, com string fornecida pelo
MongoDB Atlas.

Credenciais contidas na string utilizada como parâmetro.
'''
client = MongoClient("...") #OMITIDO POR QUESTÕES DE SEGURANÇA

In [ ]:
'''
Obtendo a base de dados criada no MongoDB Atlas e atribuindo ela
a uma variável.
'''
db = client.get_database("projeto_individual_tiago_faustino")

In [ ]:
'''
Retorna um array contendo o nome de todas as coleções, de acordo com o
acesso concedido.
'''
controle = db.list_collection_names()
print(controle)

['tratado', 'original', 'tratado_pandas', 'tratado_pyspark']

In [ ]:
'''
Estrutura de armazenamento
'''

'''
Criando a collection no MongoDB Atlas e
armazenado essa collection numa variável.
'''

if 'original' not in controle:
  db.create_collection('original')
var_original_mongo = db['original']

In [ ]:
'''
Inserção dos dados
'''
'''
Inserindo os dados do arquivo .csv original no Mongo Atlas.
'''
if var_original_mongo.estimated_document_count()<1:
  var_original_mongo.insert_many(df.to_dict(orient='records'))

In [ ]:
'''
Validação (double-check)
'''
'''
Validação quantitativa. Verificando a quantidade de 'documents' inseridos.
'''
var_original_mongo.count_documents({})
print(var_original_mongo.count_documents({}))

2240

##**(T) Tratamento dos dados**

###**Recordando...**
###**Observações após pré-análise**:

> **O que se sabe?**

>1. Não há valores duplicados no df, portanto, tratamento desse tipo não é necessário.


> **O que ainda é preciso fazer?**

>1. Traduzir o nome das colunas.
>2. Traduzir os dados categóricos das colunas 'Educação' e 'Estado_Civil'.
> - Educação: 'Graduation', 'PhD', 'Master', 'Basic' e '2n Cycle'

> - Estado_Civil: 'Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone', 'Absurd' e 'YOLO'

>3. Alterar o tipo da coluna 'Dt_Customer' para data.
>4. Inserir o valor '52247.251354' (renda média) para os 24 valores ausentes da coluna 'Renda'.

###**1. Traduzir o nome das colunas.**

In [ ]:
#teste
df1 = df

In [ ]:
#teste
df1.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

In [ ]:
'''
Traduzindo o nome das colunas.
'''
df1.rename(columns={'Year_Birth':'Ano_Nascimento','Education':'Escolaridade','Marital_Status':'Estado_Civil','Income':'Renda',
 'Kidhome':'Crianças_Casa', 'Teenhome':'Adolescentes_Casa', 'Dt_Customer':'Data_Cadastro_Cliente', 'Recency':'Recência','MntWines':'Quantia_Vinho',
 'MntFruits':'Quantia_Frutas', 'MntMeatProducts':'Quantia_Produtos_Carne', 'MntFishProducts':'Quantia_Produtos_Peixe', 'MntSweetProducts':'Quantia_Produtos_Doces',
 'MntGoldProds':'Quantia_Produtos_Ouro', 'NumDealsPurchases':'Número_Compras_Desconto', 'NumWebPurchases':'Número_Compras_Website', 'NumCatalogPurchases':'Número_Compras_Catalogo',
 'NumStorePurchases':'Número_Compras_Loja', 'NumWebVisitsMonth':'Número_Visitas_Web_Mês', 'AcceptedCmp3':'Campanha3_aceita', 'AcceptedCmp4':'Campanha4_aceita', 'AcceptedCmp5':'Campanha5_aceita',
 'AcceptedCmp1':'Campanha1_aceita', 'AcceptedCmp2':'Campanha2_aceita', 'Complain':'Reclamações', 'Z_CostContact':'Z_Contato_Custo', 'Z_Revenue':'Z_Receita',
 'Response':'Resposta'}, inplace=True)

In [ ]:
'''
Validando o tratamento realizado
'''
list(df.columns)

['ID',
 'Ano_Nascimento',
 'Escolaridade',
 'Estado_Civil',
 'Renda',
 'Crianças_Casa',
 'Adolescentes_Casa',
 'Data_Cadastro_Cliente',
 'Recência',
 'Quantia_Vinho',
 'Quantia_Frutas',
 'Quantia_Produtos_Carne',
 'Quantia_Produtos_Peixe',
 'Quantia_Produtos_Doces',
 'Quantia_Produtos_Ouro',
 'Número_Compras_Desconto',
 'Número_Compras_Website',
 'Número_Compras_Catalogo',
 'Número_Compras_Loja',
 'Número_Visitas_Web_Mês',
 'Campanha3_aceita',
 'Campanha4_aceita',
 'Campanha5_aceita',
 'Campanha1_aceita',
 'Campanha2_aceita',
 'Reclamações',
 'Z_Contato_Custo',
 'Z_Receita',
 'Resposta']

###**2. Traduzir os dados categóricos das colunas 'Escolaridade' e 'Estado_Civil'.**

In [ ]:
'''
Traduzindo os dados categóricos da coluna 'Escolaridade'

Basic:      Ensino Fundamental
2n Cycle:   Ensino Médio
Graduation: Graduação
Master:     Mestrado
PhD:        Doutorado
'''
df1.Escolaridade.replace('Basic', 'Ensino Fundamental', inplace=True)
df1.Escolaridade.replace('2n Cycle', 'Ensino Médio', inplace=True)
df1.Escolaridade.replace('Graduation', 'Graduação', inplace=True)
df1.Escolaridade.replace('Master', 'Mestrado', inplace=True)
df1.Escolaridade.replace('PhD', 'Doutorado', inplace=True)

In [ ]:
#teste
df1.Escolaridade.head(50)

0              Graduação
1              Graduação
2              Graduação
3              Graduação
4              Doutorado
5               Mestrado
6              Graduação
7              Doutorado
8              Doutorado
9              Doutorado
10             Graduação
11    Ensino Fundamental
12             Graduação
13              Mestrado
14             Graduação
15             Doutorado
16             Graduação
17             Graduação
18              Mestrado
19          Ensino Médio
20             Graduação
21             Graduação
22             Doutorado
23             Doutorado
24             Graduação
25             Graduação
26             Graduação
27             Graduação
28             Graduação
29             Doutorado
30              Mestrado
31              Mestrado
32             Graduação
33             Doutorado
34              Mestrado
35              Mestrado
36             Doutorado
37          Ensino Médio
38             Graduação
39             Doutorado
40             Graduação
41              Mestrado
42             Graduação
43             Doutorado
44              Mestrado
45             Graduação
46          Ensino Médio
47             Graduação
48             Graduação
49             Doutorado
Name: Escolaridade, dtype: object

In [ ]:
'''
Traduzindo os dados categóricos da coluna 'Estado_Civil'

Single, Alone, Together, Absurd e YOLO:   Solteiro(a), 
Married:                                  Casado(a)
Divorced:                                 Divorciado(a)
Widow:                                    Viúvo(a)
'''
df1.Estado_Civil.replace('Single','Solteiro(a)', inplace=True)
df1.Estado_Civil.replace('Alone','Solteiro(a)', inplace=True)
df1.Estado_Civil.replace('Together','Solteiro(a)', inplace=True)
df1.Estado_Civil.replace('Absurd','Solteiro(a)', inplace=True)
df1.Estado_Civil.replace('YOLO', 'Solteiro(a)', inplace=True)
df1.Estado_Civil.replace('Married', 'Casado(a)', inplace=True)
df1.Estado_Civil.replace('Divorced', 'Divorciado(a)', inplace=True)
df1.Estado_Civil.replace('Widow', 'Viúvo(a)', inplace=True)

In [ ]:
#teste
df1.Estado_Civil.head(50)

0       Solteiro(a)
1       Solteiro(a)
2       Solteiro(a)
3       Solteiro(a)
4         Casado(a)
5       Solteiro(a)
6     Divorciado(a)
7         Casado(a)
8       Solteiro(a)
9       Solteiro(a)
10        Casado(a)
11        Casado(a)
12    Divorciado(a)
13    Divorciado(a)
14        Casado(a)
15      Solteiro(a)
16        Casado(a)
17      Solteiro(a)
18        Casado(a)
19      Solteiro(a)
20        Casado(a)
21        Casado(a)
22        Casado(a)
23        Casado(a)
24      Solteiro(a)
25      Solteiro(a)
26        Casado(a)
27      Solteiro(a)
28        Casado(a)
29        Casado(a)
30    Divorciado(a)
31      Solteiro(a)
32      Solteiro(a)
33    Divorciado(a)
34        Casado(a)
35      Solteiro(a)
36        Casado(a)
37        Casado(a)
38         Viúvo(a)
39    Divorciado(a)
40        Casado(a)
41        Casado(a)
42      Solteiro(a)
43      Solteiro(a)
44        Casado(a)
45      Solteiro(a)
46        Casado(a)
47      Solteiro(a)
48      Solteiro(a)
49        Casado(a)
Name: Estado_Civil, dtype: object

###**3. Alterar o tipo da coluna 'Dt_Customer' para data.**

In [ ]:
'''
Alterando o tipo da coluna 'Data_Cadastro_Cliente' para 'datetime64'
'''
df1.Data_Cadastro_Cliente = df1.Data_Cadastro_Cliente.astype('datetime64')

In [ ]:
'''
Validando a alteração realizada
'''
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       2240 non-null   int64
 1   Ano_Nascimento           2240 non-null   int64
 2   Escolaridade             2240 non-null   object
 3   Estado_Civil             2240 non-null   object
 4   Renda                    2216 non-null   float64
 5   Crianças_Casa            2240 non-null   int64
 6   Adolescentes_Casa        2240 non-null   int64
 7   Data_Cadastro_Cliente    2240 non-null   datetime64[ns]
 8   Recência                 2240 non-null   int64
 9   Quantia_Vinho            2240 non-null   int64
 10  Quantia_Frutas           2240 non-null   int64
 11  Quantia_Produtos_Carne   2240 non-null   int64
 12  Quantia_Produtos_Peixe   2240 non-null   int64
 13  Quantia_Produtos_Doces   2240 non-null   int64
 14  Quantia_Produtos_Ouro    2240 non-null   int64
 15  Número_Compras_Desconto  2240 non-null   int64
 16  Número_Compras_Website   2240 non-null   int64
 17  Número_Compras_Catalogo  2240 non-null   int64
 18  Número_Compras_Loja      2240 non-null   int64
 19  Número_Visitas_Web_Mês   2240 non-null   int64
 20  Campanha3_aceita         2240 non-null   int64
 21  Campanha4_aceita         2240 non-null   int64
 22  Campanha5_aceita         2240 non-null   int64
 23  Campanha1_aceita         2240 non-null   int64
 24  Campanha2_aceita         2240 non-null   int64
 25  Reclamações              2240 non-null   int64
 26  Z_Contato_Custo          2240 non-null   int64
 27  Z_Receita                2240 non-null   int64
 28  Resposta                 2240 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(25), object(2)
memory usage: 507.6+ KB

In [ ]:
'''
#teste
#fica no formato brasileiro, mas altera o tipo do dado da coluna para 'object' como originalmente.
#optou-se por não aplicá-lo aqui.
Fonte: https://cursos.alura.com.br/forum/topico-trocar-o-formato-de-data-de-um-data-frame-113595
'''
df1['Data_Cadastro_Cliente'] = df1['Data_Cadastro_Cliente'].dt.strftime('%m/%d/%Y')

###**4.Inserir o valor '52247.251354' (renda média) para os 24 valores ausentes da coluna 'Renda'.**

In [ ]:
'''
Inserindo o valor '52247.251354' (renda média) para os 24 valores ausentes da coluna 'Renda'.
'''
'''
Identificando as linhas que possuem valores ausentes.
Abordagem 'mais de perto'.
'''
df1[df1.isna().sum(axis=1) > 0]

,ID,Ano_Nascimento,Escolaridade,Estado_Civil,Renda,Crianças_Casa,Adolescentes_Casa,Data_Cadastro_Cliente,Recência,Quantia_Vinho,...,Número_Visitas_Web_Mês,Campanha3_aceita,Campanha4_aceita,Campanha5_aceita,Campanha1_aceita,Campanha2_aceita,Reclamações,Z_Contato_Custo,Z_Receita,Resposta
10,1994,1983,Graduação,Casado(a),NaN,1,0,11/15/2013,11,5,...,7,0,0,0,0,0,0,3,11,0
27,5255,1986,Graduação,Solteiro(a),NaN,1,0,02/20/2013,19,5,...,1,0,0,0,0,0,0,3,11,0
43,7281,1959,Doutorado,Solteiro(a),NaN,0,0,11/05/2013,80,81,...,2,0,0,0,0,0,0,3,11,0
48,7244,1951,Graduação,Solteiro(a),NaN,2,1,01/01/2014,96,48,...,6,0,0,0,0,0,0,3,11,0
58,8557,1982,Graduação,Solteiro(a),NaN,1,0,06/17/2013,57,11,...,6,0,0,0,0,0,0,3,11,0
71,10629,1973,Ensino Médio,Casado(a),NaN,1,0,09/14/2012,25,25,...,8,0,0,0,0,0,0,3,11,0
90,8996,1957,Doutorado,Casado(a),NaN,2,1,11/19/2012,4,230,...,9,0,0,0,0,0,0,3,11,0
91,9235,1957,Graduação,Solteiro(a),NaN,1,1,05/27/2014,45,7,...,7,0,0,0,0,0,0,3,11,0
92,5798,1973,Mestrado,Solteiro(a),NaN,0,0,11/23/2013,87,445,...,1,0,0,0,0,0,0,3,11,0
128,8268,1961,Doutorado,Casado(a),NaN,0,1,07/11/2013,23,352,...,6,0,0,0,0,0,0,3,11,0
133,1295,1963,Graduação,Casado(a),NaN,0,1,08/11/2013,96,231,...,4,0,0,0,0,0,0,3,11,0
312,2437,1989,Graduação,Casado(a),NaN,0,0,06/03/2013,69,861,...,3,0,1,0,1,0,0,3,11,0
319,2863,1970,Graduação,Solteiro(a),NaN,1,2,08/23/2013,67,738,...,7,0,1,0,1,0,0,3,11,0
1379,10475,1970,Mestrado,Solteiro(a),NaN,0,1,04/01/2013,39,187,...,5,0,0,0,0,0,0,3,11,0
1382,2902,1958,Graduação,Solteiro(a),NaN,1,1,09/03/2012,87,19,...,5,0,0,0,0,0,0,3,11,0
1383,4345,1964,Ensino Médio,Solteiro(a),NaN,1,1,01/12/2014,49,5,...,7,0,0,0,0,0,0,3,11,0
1386,3769,1972,Doutorado,Solteiro(a),NaN,1,0,03/02/2014,17,25,...,7,0,0,0,0,0,0,3,11,0
2059,7187,1969,Mestrado,Solteiro(a),NaN,1,1,05/18/2013,52,375,...,3,0,0,0,0,0,0,3,11,0
2061,1612,1981,Doutorado,Solteiro(a),NaN,1,0,05/31/2013,82,23,...,6,0,0,0,0,0,0,3,11,0
2078,5079,1971,Graduação,Casado(a),NaN,1,1,03/03/2013,82,71,...,8,0,0,0,0,0,0,3,11,0
2079,10339,1954,Mestrado,Solteiro(a),NaN,0,1,06/23/2013,83,161,...,6,0,0,0,0,0,0,3,11,0
2081,3117,1955,Graduação,Solteiro(a),NaN,0,1,10/18/2013,95,264,...,7,0,0,0,0,0,0,3,11,0
2084,5250,1943,Mestrado,Viúvo(a),NaN,0,0,10/30/2013,75,532,...,1,0,0,1,0,0,0,3,11,1
2228,8720,1978,Ensino Médio,Solteiro(a),NaN,0,0,08/12/2012,53,32,...,0,0,1,0,0,0,0,3,11,0

In [ ]:
'''
Validando a quantidade de linhas com valores ausentes
'''
len(df1[df1.isna().sum(axis=1) > 0])

24

In [ ]:
'''
Identifica os valores ausentes da coluna 'Renda' e substitui por 
'52247.251354' (renda média).
'''
df1.Renda.fillna(52247.251354, inplace=True)

In [ ]:
#teste. Vide amostra na linha de 10.
df1.head(11)

,ID,Ano_Nascimento,Escolaridade,Estado_Civil,Renda,Crianças_Casa,Adolescentes_Casa,Data_Cadastro_Cliente,Recência,Quantia_Vinho,...,Número_Visitas_Web_Mês,Campanha3_aceita,Campanha4_aceita,Campanha5_aceita,Campanha1_aceita,Campanha2_aceita,Reclamações,Z_Contato_Custo,Z_Receita,Resposta
0,5524,1957,Graduação,Solteiro(a),58138.000000,0,0,09/04/2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduação,Solteiro(a),46344.000000,1,1,03/08/2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduação,Solteiro(a),71613.000000,0,0,08/21/2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduação,Solteiro(a),26646.000000,1,0,02/10/2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,Doutorado,Casado(a),58293.000000,1,0,01/19/2014,94,173,...,5,0,0,0,0,0,0,3,11,0
5,7446,1967,Mestrado,Solteiro(a),62513.000000,0,1,09/09/2013,16,520,...,6,0,0,0,0,0,0,3,11,0
6,965,1971,Graduação,Divorciado(a),55635.000000,0,1,11/13/2012,34,235,...,6,0,0,0,0,0,0,3,11,0
7,6177,1985,Doutorado,Casado(a),33454.000000,1,0,05/08/2013,32,76,...,8,0,0,0,0,0,0,3,11,0
8,4855,1974,Doutorado,Solteiro(a),30351.000000,1,0,06/06/2013,19,14,...,9,0,0,0,0,0,0,3,11,1
9,5899,1950,Doutorado,Solteiro(a),5648.000000,1,1,03/13/2014,68,28,...,20,1,0,0,0,0,0,3,11,0
10,1994,1983,Graduação,Casado(a),52247.251354,1,0,11/15/2013,11,5,...,7,0,0,0,0,0,0,3,11,0

###**5.Coversão do dataframe tratado para arquivo .csv.**

In [ ]:
'''
Coversão do dataframe tratado em arquivo .csv
Arquivo é salvo no Drive montado automaticamente.
'''
df1.to_csv('campanha_marketing_tratado_pandas.csv')

##**(L) Carregamento dos dados**

###**GCS / Bucket**

In [ ]:
'''
Utilizando o objeto 'blob' quando do acesso ao bucket.
Atribuindo operação a uma variável.

Os blobs são objetos que podem conter grandes quantidades de texto ou 
dados binários, incluindo imagens, documentos, mídia de streaming e 
dados de arquivos.
'''

blob002 = bucket1.blob('campanha_marketing_tratado_pandas.csv')

In [ ]:
'''
Realizando o upload do arquivo do drive montado para o bucket
anteriormente especificado.
'''
blob002.upload_from_filename('/content/campanha_marketing_tratado_pandas.csv')

###**MongoDB Atlas**

In [ ]:
'''
Estabelecendo a conexão com o MongoDB Atlas
'''

'''
Criando uma conexão utilizando o MongoClient, com string fornecida pelo
MongoDB Atlas.

Credenciais contidas na string utilizada como parâmetro.
'''
client = MongoClient("...") #OMITIDO POR QUESTÕES DE SEGURANÇA.

In [ ]:
'''
Obtendo a base de dados criada no MongoDB Atlas e atribuindo ela
a uma variável.
'''
db = client.get_database("projeto_individual_tiago_faustino")

In [ ]:
'''
Retorna um array contendo o nome de todas as coleções, de acordo com o
acesso concedido.
'''
controle = db.list_collection_names()
print(controle)

['tratado', 'original', 'tratado_pandas', 'tratado_pyspark']

In [ ]:
'''
Estrutura de armazenamento
'''

'''
Criando a collection no MongoDB Atlas e
armazenado essa collection numa variável.
'''

if 'tratado_pandas' not in controle:
  db.create_collection('tratado_pandas')
var_tratado_pandas_mongo = db['tratado_pandas']

In [ ]:
'''
Inserção dos dados
'''
'''
Inserindo os dados do arquivo .csv tratado no Mongo Atlas.
'''
if var_tratado_pandas_mongo.estimated_document_count()<1:
  var_tratado_pandas_mongo.insert_many(df.to_dict(orient='records'))

In [ ]:
'''
Validação (double-check)
'''
'''
Validação quantitativa. Verificando a quantidade de 'documents' inseridos.
'''
var_tratado_pandas_mongo.count_documents({})
print(var_tratado_pandas_mongo.count_documents({}))

2240

#**Nível PySpark**

##**Procedimentos iniciais**

###**Bibliotecas**

In [ ]:
'''
SparkConf: To run a Spark application on the local/cluster, you need to set a 
few configurations and parameters, this is what SparkConf helps with. It 
provides configurations to run a Spark application.

Fonte: https://www.tutorialspoint.com/pyspark/pyspark_sparkconf.htm
Informações adicionais: https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.SparkConf.html

'''

from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *
#from pyspark.sql.functions import split
from pyspark.sql.window import Window

###**Instalações adicionais**

In [ ]:
'''
Após a instalação execute, novamente, a seção 'Bibliotecas'.
'''
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 30 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 61.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=ac7e0bf32aae2dfb611a9d04a7f56d91361d0fe3ec920ddbab5a7d82fc54ffb8
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

##**(E) Extração dos dados**

###**(E) Extração dos dados - parte 1/2**

####**SparkSession**

In [ ]:
'''
Fazendo a conexão com a SparkSession
'''
spark = ( SparkSession.builder
                      . master("local")
                      .appName("conexao-spark")
                      . config("spark.ui.port","4050")
                      .getOrCreate()
         )

In [ ]:
spark

####**Estrutura do DataFrame**

In [ ]:
'''
Montando a estrutura do DataFrame, utilizando o StructType
'''
esquema = (
    StructType([
                StructField('ID', IntegerType(), True),
                StructField('Year_Birth', IntegerType(), True),
                StructField('Education', StringType(), True),
                StructField('Marital_Status', StringType(), True),
                StructField('Income', FloatType(), True),
                StructField('Kidhome', IntegerType(), True),
                StructField('Teenhome', IntegerType(), True),
                StructField('Dt_Customer', StringType(), True),
                StructField('Recency', IntegerType(), True),
                StructField('MntWines', IntegerType(), True),
                StructField('MntFruits', IntegerType(), True),
                StructField('MntMeatProducts', IntegerType(), True),
                StructField('MntFishProducts', IntegerType(), True),
                StructField('MntSweetProducts', IntegerType(), True),
                StructField('MntGoldProducts', IntegerType(), True),
                StructField('NumDealsPurchases', IntegerType(), True),
                StructField('NumWebPurchases', IntegerType(), True),
                StructField('NumCatalogPurchases', IntegerType(), True),
                StructField('NumStorePurchases', IntegerType(), True),
                StructField('NumWebVisitsMonth', IntegerType(), True),
                StructField('AcceptedCmp3', IntegerType(), True),
                StructField('AcceptedCmp4', IntegerType(), True),
                StructField('AcceptedCmp5', IntegerType(), True),
                StructField('AcceptedCmp1', IntegerType(), True),
                StructField('AcceptedCmp2', IntegerType(), True),
                StructField('Complain', IntegerType(), True),
                StructField('Z_CostContact', IntegerType(), True),
                StructField('Z_Revenue', IntegerType(), True),
                StructField('Response', IntegerType(), True)
    ])
)

####**Leitura do arquivo**

In [ ]:
'''
Criando Dataframe.
Realizando a leitura do arquivo original .csv e inserindo na 
estrutura criada previamente.
'''
df2 = (
    spark.read.format('csv')
              .option('header', 'true')
              .option('delimiter',';')
              .option('inferschema', 'true')
              .load('/content/marketing_campaign.csv', schema = esquema)
)

In [ ]:
'''
The printSchema() method is used to display the schema of the PySpark dataframe.

Link: https://linuxhint.com/printschema-method-pyspark/
'''
df2.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: float (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: string (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProducts: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- AcceptedCmp3: integer (nullable = true)
 |-- AcceptedCmp4: integer (nullable = true)
 |-- AcceptedCmp5: integer (nullable = true)
 |-- AcceptedCmp1: integer (nullable = true)
 |-- AcceptedCmp2: integer (nullable = true)
 |-- Complain: integer (nullable = true)
 |-- Z_CostContact: integer (nullable = true)
 |-- Z_Revenue: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [ ]:
'''
Visualizando o dataframe criado.
Primeiras 20 linhas.
'''
df2.show()

+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status| Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProducts|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single|58138.0|      0|       0| 2012-09-04|     58|     635|       88|            546|            172|              88|             88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|Graduation|        Single|46344.0|      1|       1| 2014-03-08|     38|      11|        1|              6|              2|               1|              6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|      1965|Graduation|      Together|71613.0|      0|       0| 2013-08-21|     26|     426|       49|            127|            111|              21|             42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|      1984|Graduation|      Together|26646.0|      1|       0| 2014-02-10|     26|      11|        4|             20|             10|               3|              5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|      1981|       PhD|       Married|58293.0|      1|       0| 2014-01-19|     94|     173|       43|            118|             46|              27|             15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|7446|      1967|    Master|      Together|62513.0|      0|       1| 2013-09-09|     16|     520|       42|             98|              0|              42|             14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 965|      1971|Graduation|      Divorced|55635.0|      0|       1| 2012-11-13|     34|     235|       65|            164|             50|              49|             27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6177|      1985|       PhD|       Married|33454.0|      1|       0| 2013-05-08|     32|      76|       10|             56|              3|               1|             23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4855|      1974|       PhD|      Together|30351.0|      1|       0| 2013-06-06|     19|      14|        0|             24|              3|               3|              2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|5899|      1950|       PhD|      Together| 5648.0|      1|       1| 2014-03-13|     68|      28|        0|              6|              1|               1|             13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|
|1994|      1983|Graduation|       Married|   null|      1|       0| 2013-11-15|     11|       5|        5|              6|              0|               2|              1|                1|              1|                  0|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 387|      1976|     Basic|       Married| 7500.0|      0|       0| 2012-11-13|     59|       6|       16|             11|             11|               1|             16|                1|              2|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2125|      1959|Graduation|      Divorced|63033.0|      0|       0| 2013-11-15|     82|     194|       61|            480|            225|             112|             30|                1|              3|                  4|                8|                2|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|8180|      1952|    Master|      Divorced|59354.0|      1|       1| 2013-11-15|     53|     233|        2|             53|              3|               5|             14|                3|              6|                  1|                5|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2569|      1987|Graduation|       Married|17323.0|      0|       0| 2012-10-10|     38|       3|       14|             17|              6|               1|              5|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2114|      1946|       PhD|        Single|82800.0|      0|       0| 2012-11-24|     23|    1006|       22|            115|             59|              68|             45|                1|              7|                  6|               12|                3|           0|           0|           1|           1|           0|       0|            3|       11|       1|
|9736|      1980|Graduation|       Married|41850.0|      1|       1| 2012-12-24|     51|      53|        5|             19|              2|              13|              4|                3|              3|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4939|      1946|Graduation|      Together|37760.0|      0|       0| 2012-08-31|     20|      84|        5|             38|            150|              12|             28|                2|              4|                  1|                6|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6565|      1949|    Master|       Married|76995.0|      0|       1| 2013-03-28|     91|    1012|       80|            498|              0|              16|            176|                2|             11|                  4|                9|                5|           0|           0|           0|           1|           0|       0|            3|       11|       0|
|2278|      1985|  2n Cycle|        Single|33812.0|      1|       0| 2012-11-03|     86|       4|       17|             19|             30|              24|             39|                2|              2|                  1|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 20 rows

####**Pré-análise**

In [ ]:
'''
Verificando o número de linhas e colunas do DataFrame.
'''
print('Número de linhas: ', df2.count())
print('Número de colunas: ', len(df2.columns))

Número de linhas:  2240
Número de colunas:  29

In [ ]:
'''
Verificando alguns dados estatísticos.
'''
df2.summary().show()

+-------+------------------+------------------+---------+--------------+------------------+-------------------+------------------+-----------+-----------------+------------------+------------------+-----------------+------------------+-----------------+----------------+-----------------+------------------+-------------------+-----------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------+---------+-------------------+
|summary|                ID|        Year_Birth|Education|Marital_Status|            Income|            Kidhome|          Teenhome|Dt_Customer|          Recency|          MntWines|         MntFruits|  MntMeatProducts|   MntFishProducts| MntSweetProducts| MntGoldProducts|NumDealsPurchases|   NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|       AcceptedCmp3|       AcceptedCmp4|       AcceptedCmp5|       AcceptedCmp1|        AcceptedCmp2|           Complain|Z_CostContact|Z_Revenue|           Response|
+-------+------------------+------------------+---------+--------------+------------------+-------------------+------------------+-----------+-----------------+------------------+------------------+-----------------+------------------+-----------------+----------------+-----------------+------------------+-------------------+-----------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------+---------+-------------------+
|  count|              2240|              2240|     2240|          2240|              2216|               2240|              2240|       2240|             2240|              2240|              2240|             2240|              2240|             2240|            2240|             2240|              2240|               2240|             2240|             2240|               2240|               2240|               2240|               2240|                2240|               2240|         2240|     2240|               2240|
|   mean| 5592.159821428571|1968.8058035714287|     null|          null| 52247.25135379061|0.44419642857142855|           0.50625|       null|        49.109375| 303.9357142857143|26.302232142857143|           166.95| 37.52544642857143|27.06294642857143|       44.021875|            2.325| 4.084821428571429| 2.6620535714285714|5.790178571428571|5.316517857142857|0.07276785714285715|0.07455357142857143|0.07276785714285715|0.06428571428571428|0.013392857142857142|           0.009375|          3.0|     11.0|0.14910714285714285|
| stddev|3246.6621975643416|11.984069456885827|     null|          null|25173.076660901414| 0.5383980977345935|0.5445382307698761|       null|28.96245280837821|336.59739260537197|39.773433764578584|225.7153725117536|54.628979402878095|41.28049848785491|52.1674389149973| 1.93223750085598|2.7787141473881007| 2.9231006555397463|3.250958145674428| 2.42664500954729| 0.2598130699218951|0.26272828485356176| 0.2598130699218953|0.24531597433401406| 0.11497560625548417|0.09639116794449748|          0.0|      0.0|0.35627358640847934|
|    min|                 0|              1893| 2n Cycle|        Absurd|            1730.0|                  0|                 0| 2012-07-30|                0|                 0|                 0|                0|                 0|                0|               0|                0|                 0|                  0|                0|                0|                  0|                  0|                  0|                  0|                   0|                  0|            3|       11|                  0|
|    25%|              2826|              1959|     null|          null|           35246.0|                  0|                 0|       null|               24|                23|                 1|               16|                 3|                1|               9|                1|                 2|                  0|                3|                3|                  0|                  0|                  0|                  0|                   0|                  0|            3|       11|                  0|
|    50%|              5455|              1970|     null|          null|           51373.0|                  0|                 0|       null|               49|               173|                 8|               67|                12|                8|              24|                2|                 4|                  2|                5|                6|                  0|                  0|                  0|                  0|                   0|                  0|            3|       11|                  0|
|    75%|              8427|              1977|     null|          null|           68487.0|                  1|                 1|       null|               74|               504|                33|              232|                50|               33|              56|                3|                 6|                  4|                8|                7|                  0|                  0|                  0|                  0|                   0|                  0|            3|       11|                  0|
|    max|             11191|              1996|      PhD|          YOLO|          666666.0|                  2|                 2| 2014-06-29|               99|              1493|               199|             1725|               259|              263|             362|               15|                27|                 28|               13|               20|                  1|                  1|                  1|                  1|                   1|                  1|            3|       11|                  1|
+-------+------------------+------------------+---------+--------------+------------------+-------------------+------------------+-----------+-----------------+------------------+------------------+-----------------+------------------+-----------------+----------------+-----------------+------------------+-------------------+-----------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------+---------+-------------------+

In [ ]:
'''
Verificando a quantidade de valores ausentes na
coluna "Income"

Fonte da inpiração: https://www.web-dev-qa-db-pt.com/pt/filter/como-filtrar-valores-nulos-no-pyspark-dataframe/836844795/
'''
df2.where(F.isnull(F.col("Income"))).count()

24

In [ ]:
'''
Agora que já sabemos a quantidade de valores ausentes,
a proposta é passar essa quantidade como parâmetro para
verificar, exatamente, quais são as linhas que possuem
os valores ausentes na coluna "Income".
'''
df2.where(F.isnull(F.col("Income"))).show(24)

+-----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|   ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProducts|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+-----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
| 1994|      1983|Graduation|       Married|  null|      1|       0| 2013-11-15|     11|       5|        5|              6|              0|               2|              1|                1|              1|                  0|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 5255|      1986|Graduation|        Single|  null|      1|       0| 2013-02-20|     19|       5|        1|              3|              3|             263|            362|                0|             27|                  0|                0|                1|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 7281|      1959|       PhD|        Single|  null|      0|       0| 2013-11-05|     80|      81|       11|             50|              3|               2|             39|                1|              1|                  3|                4|                2|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 7244|      1951|Graduation|        Single|  null|      2|       1| 2014-01-01|     96|      48|        5|             48|              6|              10|              7|                3|              2|                  1|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 8557|      1982|Graduation|        Single|  null|      1|       0| 2013-06-17|     57|      11|        3|             22|              2|               2|              6|                2|              2|                  0|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|10629|      1973|  2n Cycle|       Married|  null|      1|       0| 2012-09-14|     25|      25|        3|             43|             17|               4|             17|                3|              3|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 8996|      1957|       PhD|       Married|  null|      2|       1| 2012-11-19|      4|     230|       42|            192|             49|              37|             53|               12|              7|                  2|                8|                9|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 9235|      1957|Graduation|        Single|  null|      1|       1| 2014-05-27|     45|       7|        0|              8|              2|               0|              1|                1|              1|                  0|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 5798|      1973|    Master|      Together|  null|      0|       0| 2013-11-23|     87|     445|       37|            359|             98|              28|             18|                1|              2|                  4|                8|                1|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 8268|      1961|       PhD|       Married|  null|      0|       1| 2013-07-11|     23|     352|        0|             27|             10|               0|             15|                3|              6|                  1|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 1295|      1963|Graduation|       Married|  null|      0|       1| 2013-08-11|     96|     231|       65|            196|             38|              71|            124|                1|              6|                  5|                7|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 2437|      1989|Graduation|       Married|  null|      0|       0| 2013-06-03|     69|     861|      138|            461|             60|              30|             61|                1|              6|                  5|               12|                3|           0|           1|           0|           1|           0|       0|            3|       11|       0|
| 2863|      1970|Graduation|        Single|  null|      1|       2| 2013-08-23|     67|     738|       20|            172|             52|              50|             20|                6|              2|                  3|               10|                7|           0|           1|           0|           1|           0|       0|            3|       11|       0|
|10475|      1970|    Master|      Together|  null|      0|       1| 2013-04-01|     39|     187|        5|             65|             26|              20|             14|                2|              4|                  2|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 2902|      1958|Graduation|      Together|  null|      1|       1| 2012-09-03|     87|      19|        4|             12|              2|               2|              6|                1|              1|                  0|                3|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 4345|      1964|  2n Cycle|        Single|  null|      1|       1| 2014-01-12|     49|       5|        1|              9|              2|               0|              4|                1|              1|                  0|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 3769|      1972|       PhD|      Together|  null|      1|       0| 2014-03-02|     17|      25|        1|             13|              0|               0|              3|                1|              1|                  0|                3|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 7187|      1969|    Master|      Together|  null|      1|       1| 2013-05-18|     52|     375|       42|             48|             94|              66|             96|                7|              4|                 10|                4|                3|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 1612|      1981|       PhD|        Single|  null|      1|       0| 2013-05-31|     82|      23|        0|             15|              0|               2|              7|                2|              3|                  0|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 5079|      1971|Graduation|       Married|  null|      1|       1| 2013-03-03|     82|      71|        1|             16|              0|               0|              9|                4|              2|                  1|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|10339|      1954|    Master|      Together|  null|      0|       1| 2013-06-23|     83|     161|        0|             22|              0|               0|             24|                2|              4|                  1|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 3117|      1955|Graduation|        Single|  null|      0|       1| 2013-10-18|     95|     264|        0|             21|             12|               6|            147|                3|              6|                  1|                5|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 5250|      1943|    Master|         Widow|  null|      0|       0| 2013-10-30|     75|     532|      126|            490|            164|             126|            126|                1|              5|                  5|               11|                1|           0|           0|           1|           0|           0|       0|            3|       11|       1|
| 8720|      1978|  2n Cycle|      Together|  null|      0|       0| 2012-08-12|     53|      32|        2|           1607|             12|               4|             22|                0|              0|                  0|                1|                0|           0|           1|           0|           0|           0|       0|            3|       11|       0|
+-----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+

In [ ]:
'''
Verificando a quantidade de valores distintos nas colunas do 
DataFrame.
Exemplo a seguir
'''
df2.select('Year_Birth').distinct().count()

59

In [ ]:
'''
Verificando os tipos de dados do dataframe.
'''
df2.dtypes

[('ID', 'int'),
 ('Year_Birth', 'int'),
 ('Education', 'string'),
 ('Marital_Status', 'string'),
 ('Income', 'float'),
 ('Kidhome', 'int'),
 ('Teenhome', 'int'),
 ('Dt_Customer', 'string'),
 ('Recency', 'int'),
 ('MntWines', 'int'),
 ('MntFruits', 'int'),
 ('MntMeatProducts', 'int'),
 ('MntFishProducts', 'int'),
 ('MntSweetProducts', 'int'),
 ('MntGoldProducts', 'int'),
 ('NumDealsPurchases', 'int'),
 ('NumWebPurchases', 'int'),
 ('NumCatalogPurchases', 'int'),
 ('NumStorePurchases', 'int'),
 ('NumWebVisitsMonth', 'int'),
 ('AcceptedCmp3', 'int'),
 ('AcceptedCmp4', 'int'),
 ('AcceptedCmp5', 'int'),
 ('AcceptedCmp1', 'int'),
 ('AcceptedCmp2', 'int'),
 ('Complain', 'int'),
 ('Z_CostContact', 'int'),
 ('Z_Revenue', 'int'),
 ('Response', 'int')]

In [ ]:
'''
Explorando colunas do tipo 'string', exceto 'Dt_Customer'(vide 'Observações'adiante).
'''
'''
Apresenta os valores únicos na coluna 'Education'.
'''
df2.select('Education').distinct().show()

+----------+
| Education|
+----------+
|  2n Cycle|
|       PhD|
|    Master|
|Graduation|
|     Basic|
+----------+

In [ ]:
'''
Apresenta os valores únicos na coluna 'Marital_Status'.
'''
df2.select('Marital_Status').distinct().show()

+--------------+
|Marital_Status|
+--------------+
|          YOLO|
|      Together|
|       Married|
|        Absurd|
|         Widow|
|      Divorced|
|         Alone|
|        Single|
+--------------+

In [ ]:
'''
Verificando valores duplicados no dataframe.
'''
total = (df2.count()) - (df2.dropDuplicates().count())
print(total)

0

####**Observações**
>- Não há valores duplicados.
>- Somente a coluna 'Income' possui 'valores ausentes'. 24 no total. Inserir o valor '52247.251354' (renda média)
>- Coluna 'Dt_Customer' possui o tipo 'string'. Formato mais correto seria date. Realizar tratamento.
>- Mudar o nome de pelo menos 2 colunas.

####**Pontos adicionais**

>- Criar pelo menos duas novas colunas contendo alguma informação relevante sobre as outras colunas já existentes (Funções de Agrupamento, Agregação ou Joins).

>- Utilizar filtros, ordenação e agrupamento, trazendo dados relevantes para o negócio em questão. (Use a sua capacidade analítica)

>- Utilizar pelo menos duas Window Functions.

###**(E) Extração dos dados - parte 2/2**

####**Conexões MongoDB Atlas e GCS / Bucket**
Etapa desnecessária, pois irá aproveitar-se a conexão
já criada quando da utilização do Pandas.

##**(T) Tratamento dos dados**

###**Recordando...**
###**Observações após pré-análise**:

> **O que se sabe?**

>1. Não há valores duplicados no df, portanto, tratamento desse tipo não é necessário.

> **O que é preciso fazer?**


>1. Mudar o nome de pelo menos 2 colunas.

>2. Criar pelo menos duas novas colunas contendo alguma informação relevante sobre as outras colunas já existentes (Funções de Agrupamento, Agregação ou Joins).

>3. Inserir o valor '52247.251354' (renda média) para os 24 valores ausentes da coluna 'Income'.

>4. Alterar o tipo da coluna 'Dt_Customer' para data.

>5. Utilizar filtros, ordenação e agrupamento, trazendo dados relevantes para o negócio em questão. (Use a sua capacidade analítica)

>6. Utilizar pelo menos duas Window Functions.

###**1. Mudar o nome de pelo menos 2 colunas.**

In [ ]:
#teste
df3 = df2

In [ ]:
#teste
df3.show()

+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status| Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProducts|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single|58138.0|      0|       0| 2012-09-04|     58|     635|       88|            546|            172|              88|             88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|Graduation|        Single|46344.0|      1|       1| 2014-03-08|     38|      11|        1|              6|              2|               1|              6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|      1965|Graduation|      Together|71613.0|      0|       0| 2013-08-21|     26|     426|       49|            127|            111|              21|             42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|      1984|Graduation|      Together|26646.0|      1|       0| 2014-02-10|     26|      11|        4|             20|             10|               3|              5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|      1981|       PhD|       Married|58293.0|      1|       0| 2014-01-19|     94|     173|       43|            118|             46|              27|             15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|7446|      1967|    Master|      Together|62513.0|      0|       1| 2013-09-09|     16|     520|       42|             98|              0|              42|             14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 965|      1971|Graduation|      Divorced|55635.0|      0|       1| 2012-11-13|     34|     235|       65|            164|             50|              49|             27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6177|      1985|       PhD|       Married|33454.0|      1|       0| 2013-05-08|     32|      76|       10|             56|              3|               1|             23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4855|      1974|       PhD|      Together|30351.0|      1|       0| 2013-06-06|     19|      14|        0|             24|              3|               3|              2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|5899|      1950|       PhD|      Together| 5648.0|      1|       1| 2014-03-13|     68|      28|        0|              6|              1|               1|             13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|
|1994|      1983|Graduation|       Married|   null|      1|       0| 2013-11-15|     11|       5|        5|              6|              0|               2|              1|                1|              1|                  0|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 387|      1976|     Basic|       Married| 7500.0|      0|       0| 2012-11-13|     59|       6|       16|             11|             11|               1|             16|                1|              2|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2125|      1959|Graduation|      Divorced|63033.0|      0|       0| 2013-11-15|     82|     194|       61|            480|            225|             112|             30|                1|              3|                  4|                8|                2|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|8180|      1952|    Master|      Divorced|59354.0|      1|       1| 2013-11-15|     53|     233|        2|             53|              3|               5|             14|                3|              6|                  1|                5|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2569|      1987|Graduation|       Married|17323.0|      0|       0| 2012-10-10|     38|       3|       14|             17|              6|               1|              5|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2114|      1946|       PhD|        Single|82800.0|      0|       0| 2012-11-24|     23|    1006|       22|            115|             59|              68|             45|                1|              7|                  6|               12|                3|           0|           0|           1|           1|           0|       0|            3|       11|       1|
|9736|      1980|Graduation|       Married|41850.0|      1|       1| 2012-12-24|     51|      53|        5|             19|              2|              13|              4|                3|              3|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4939|      1946|Graduation|      Together|37760.0|      0|       0| 2012-08-31|     20|      84|        5|             38|            150|              12|             28|                2|              4|                  1|                6|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6565|      1949|    Master|       Married|76995.0|      0|       1| 2013-03-28|     91|    1012|       80|            498|              0|              16|            176|                2|             11|                  4|                9|                5|           0|           0|           0|           1|           0|       0|            3|       11|       0|
|2278|      1985|  2n Cycle|        Single|33812.0|      1|       0| 2012-11-03|     86|       4|       17|             19|             30|              24|             39|                2|              2|                  1|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 20 rows

In [ ]:
'''
Mudando o nome de algumas colunas
'''
df3.withColumnRenamed('Year_Birth', 'YearBirth').withColumnRenamed('Marital_Status','MaritalStatus').withColumnRenamed('Dt_Customer','DtCustomer').show()

+----+---------+----------+-------------+-------+-------+--------+----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|YearBirth| Education|MaritalStatus| Income|Kidhome|Teenhome|DtCustomer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProducts|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+---------+----------+-------------+-------+-------+--------+----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|     1957|Graduation|       Single|58138.0|      0|       0|2012-09-04|     58|     635|       88|            546|            172|              88|             88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|     1954|Graduation|       Single|46344.0|      1|       1|2014-03-08|     38|      11|        1|              6|              2|               1|              6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|     1965|Graduation|     Together|71613.0|      0|       0|2013-08-21|     26|     426|       49|            127|            111|              21|             42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|     1984|Graduation|     Together|26646.0|      1|       0|2014-02-10|     26|      11|        4|             20|             10|               3|              5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|     1981|       PhD|      Married|58293.0|      1|       0|2014-01-19|     94|     173|       43|            118|             46|              27|             15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|7446|     1967|    Master|     Together|62513.0|      0|       1|2013-09-09|     16|     520|       42|             98|              0|              42|             14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 965|     1971|Graduation|     Divorced|55635.0|      0|       1|2012-11-13|     34|     235|       65|            164|             50|              49|             27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6177|     1985|       PhD|      Married|33454.0|      1|       0|2013-05-08|     32|      76|       10|             56|              3|               1|             23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4855|     1974|       PhD|     Together|30351.0|      1|       0|2013-06-06|     19|      14|        0|             24|              3|               3|              2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|5899|     1950|       PhD|     Together| 5648.0|      1|       1|2014-03-13|     68|      28|        0|              6|              1|               1|             13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|
|1994|     1983|Graduation|      Married|   null|      1|       0|2013-11-15|     11|       5|        5|              6|              0|               2|              1|                1|              1|                  0|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 387|     1976|     Basic|      Married| 7500.0|      0|       0|2012-11-13|     59|       6|       16|             11|             11|               1|             16|                1|              2|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2125|     1959|Graduation|     Divorced|63033.0|      0|       0|2013-11-15|     82|     194|       61|            480|            225|             112|             30|                1|              3|                  4|                8|                2|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|8180|     1952|    Master|     Divorced|59354.0|      1|       1|2013-11-15|     53|     233|        2|             53|              3|               5|             14|                3|              6|                  1|                5|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2569|     1987|Graduation|      Married|17323.0|      0|       0|2012-10-10|     38|       3|       14|             17|              6|               1|              5|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2114|     1946|       PhD|       Single|82800.0|      0|       0|2012-11-24|     23|    1006|       22|            115|             59|              68|             45|                1|              7|                  6|               12|                3|           0|           0|           1|           1|           0|       0|            3|       11|       1|
|9736|     1980|Graduation|      Married|41850.0|      1|       1|2012-12-24|     51|      53|        5|             19|              2|              13|              4|                3|              3|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4939|     1946|Graduation|     Together|37760.0|      0|       0|2012-08-31|     20|      84|        5|             38|            150|              12|             28|                2|              4|                  1|                6|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6565|     1949|    Master|      Married|76995.0|      0|       1|2013-03-28|     91|    1012|       80|            498|              0|              16|            176|                2|             11|                  4|                9|                5|           0|           0|           0|           1|           0|       0|            3|       11|       0|
|2278|     1985|  2n Cycle|       Single|33812.0|      1|       0|2012-11-03|     86|       4|       17|             19|             30|              24|             39|                2|              2|                  1|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
+----+---------+----------+-------------+-------+-------+--------+----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 20 rows

###**2. Criar pelo menos duas novas colunas contendo alguma informação relevante sobre as outras colunas já existentes (Funções de Agrupamento, Agregação ou Joins).**

In [ ]:
'''
Adicionando nova coluna (MntAllProducts)
MntAllProducts: Apresenta a soma das colunas 'MntWines','MntFruits','MntMeatProducts','MntFishProducts','MntSweetProducts' e 'MntGoldProducts'.
Inspiração: https://acervolima.com/pyspark-dataframe-adicionar-coluna-com-base-em-outras-colunas/
'''

df4 = df3.withColumn('MntAllProducts',
                       df3.MntWines + df3.MntFruits + df3.MntMeatProducts + df3.MntFishProducts + df3.MntSweetProducts + df3.MntGoldProducts)
df4.show()

+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+
|  ID|Year_Birth| Education|Marital_Status| Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProducts|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|MntAllProducts|
+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+
|5524|      1957|Graduation|        Single|58138.0|      0|       0| 2012-09-04|     58|     635|       88|            546|            172|              88|             88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|          1617|
|2174|      1954|Graduation|        Single|46344.0|      1|       1| 2014-03-08|     38|      11|        1|              6|              2|               1|              6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|            27|
|4141|      1965|Graduation|      Together|71613.0|      0|       0| 2013-08-21|     26|     426|       49|            127|            111|              21|             42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|           776|
|6182|      1984|Graduation|      Together|26646.0|      1|       0| 2014-02-10|     26|      11|        4|             20|             10|               3|              5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|            53|
|5324|      1981|       PhD|       Married|58293.0|      1|       0| 2014-01-19|     94|     173|       43|            118|             46|              27|             15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|           422|
|7446|      1967|    Master|      Together|62513.0|      0|       1| 2013-09-09|     16|     520|       42|             98|              0|              42|             14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|           716|
| 965|      1971|Graduation|      Divorced|55635.0|      0|       1| 2012-11-13|     34|     235|       65|            164|             50|              49|             27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|           590|
|6177|      1985|       PhD|       Married|33454.0|      1|       0| 2013-05-08|     32|      76|       10|             56|              3|               1|             23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|           169|
|4855|      1974|       PhD|      Together|30351.0|      1|       0| 2013-06-06|     19|      14|        0|             24|              3|               3|              2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|            46|
|5899|      1950|       PhD|      Together| 5648.0|      1|       1| 2014-03-13|     68|      28|        0|              6|              1|               1|             13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|            49|
|1994|      1983|Graduation|       Married|   null|      1|       0| 2013-11-15|     11|       5|        5|              6|              0|               2|              1|                1|              1|                  0|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|            19|
| 387|      1976|     Basic|       Married| 7500.0|      0|       0| 2012-11-13|     59|       6|       16|             11|             11|               1|             16|                1|              2|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            61|
|2125|      1959|Graduation|      Divorced|63033.0|      0|       0| 2013-11-15|     82|     194|       61|            480|            225|             112|             30|                1|              3|                  4|                8|                2|           0|           0|           0|           0|           0|       0|            3|       11|       0|          1102|
|8180|      1952|    Master|      Divorced|59354.0|      1|       1| 2013-11-15|     53|     233|        2|             53|              3|               5|             14|                3|              6|                  1|                5|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|           310|
|2569|      1987|Graduation|       Married|17323.0|      0|       0| 2012-10-10|     38|       3|       14|             17|              6|               1|              5|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            46|
|2114|      1946|       PhD|        Single|82800.0|      0|       0| 2012-11-24|     23|    1006|       22|            115|             59|              68|             45|                1|              7|                  6|               12|                3|           0|           0|           1|           1|           0|       0|            3|       11|       1|          1315|
|9736|      1980|Graduation|       Married|41850.0|      1|       1| 2012-12-24|     51|      53|        5|             19|              2|              13|              4|                3|              3|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            96|
|4939|      1946|Graduation|      Together|37760.0|      0|       0| 2012-08-31|     20|      84|        5|             38|            150|              12|             28|                2|              4|                  1|                6|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|           317|
|6565|      1949|    Master|       Married|76995.0|      0|       1| 2013-03-28|     91|    1012|       80|            498|              0|              16|            176|                2|             11|                  4|                9|                5|           0|           0|           0|           1|           0|       0|            3|       11|       0|          1782|
|2278|      1985|  2n Cycle|        Single|33812.0|      1|       0| 2012-11-03|     86|       4|       17|             19|             30|              24|             39|                2|              2|                  1|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|           133|
+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+
only showing top 20 rows

In [ ]:
'''
Adicionando nova coluna (NumAllPurchases)
NumAllPurchases: Apresenta a soma das colunas 'NumDealsPurchases','NumWebPurchases','NumCatalogPurchases','NumStorePurchases'.
Inspiração: https://acervolima.com/pyspark-dataframe-adicionar-coluna-com-base-em-outras-colunas/
'''

df5 = df4.withColumn('NumAllPurchases',
                       df4.NumDealsPurchases + df4.NumWebPurchases + df4.NumCatalogPurchases + df4.NumStorePurchases)
df5.show()

+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
|  ID|Year_Birth| Education|Marital_Status| Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProducts|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|MntAllProducts|NumAllPurchases|
+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
|5524|      1957|Graduation|        Single|58138.0|      0|       0| 2012-09-04|     58|     635|       88|            546|            172|              88|             88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|          1617|             25|
|2174|      1954|Graduation|        Single|46344.0|      1|       1| 2014-03-08|     38|      11|        1|              6|              2|               1|              6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|            27|              6|
|4141|      1965|Graduation|      Together|71613.0|      0|       0| 2013-08-21|     26|     426|       49|            127|            111|              21|             42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|           776|             21|
|6182|      1984|Graduation|      Together|26646.0|      1|       0| 2014-02-10|     26|      11|        4|             20|             10|               3|              5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|            53|              8|
|5324|      1981|       PhD|       Married|58293.0|      1|       0| 2014-01-19|     94|     173|       43|            118|             46|              27|             15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|           422|             19|
|7446|      1967|    Master|      Together|62513.0|      0|       1| 2013-09-09|     16|     520|       42|             98|              0|              42|             14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|           716|             22|
| 965|      1971|Graduation|      Divorced|55635.0|      0|       1| 2012-11-13|     34|     235|       65|            164|             50|              49|             27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|           590|             21|
|6177|      1985|       PhD|       Married|33454.0|      1|       0| 2013-05-08|     32|      76|       10|             56|              3|               1|             23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|           169|             10|
|4855|      1974|       PhD|      Together|30351.0|      1|       0| 2013-06-06|     19|      14|        0|             24|              3|               3|              2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|            46|              6|
|5899|      1950|       PhD|      Together| 5648.0|      1|       1| 2014-03-13|     68|      28|        0|              6|              1|               1|             13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|            49|              2|
|1994|      1983|Graduation|       Married|   null|      1|       0| 2013-11-15|     11|       5|        5|              6|              0|               2|              1|                1|              1|                  0|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|            19|              4|
| 387|      1976|     Basic|       Married| 7500.0|      0|       0| 2012-11-13|     59|       6|       16|             11|             11|               1|             16|                1|              2|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            61|              6|
|2125|      1959|Graduation|      Divorced|63033.0|      0|       0| 2013-11-15|     82|     194|       61|            480|            225|             112|             30|                1|              3|                  4|                8|                2|           0|           0|           0|           0|           0|       0|            3|       11|       0|          1102|             16|
|8180|      1952|    Master|      Divorced|59354.0|      1|       1| 2013-11-15|     53|     233|        2|             53|              3|               5|             14|                3|              6|                  1|                5|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|           310|             15|
|2569|      1987|Graduation|       Married|17323.0|      0|       0| 2012-10-10|     38|       3|       14|             17|              6|               1|              5|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            46|              5|
|2114|      1946|       PhD|        Single|82800.0|      0|       0| 2012-11-24|     23|    1006|       22|            115|             59|              68|             45|                1|              7|                  6|               12|                3|           0|           0|           1|           1|           0|       0|            3|       11|       1|          1315|             26|
|9736|      1980|Graduation|       Married|41850.0|      1|       1| 2012-12-24|     51|      53|        5|             19|              2|              13|              4|                3|              3|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            96|              9|
|4939|      1946|Graduation|      Together|37760.0|      0|       0| 2012-08-31|     20|      84|        5|             38|            150|              12|             28|                2|              4|                  1|                6|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|           317|             13|
|6565|      1949|    Master|       Married|76995.0|      0|       1| 2013-03-28|     91|    1012|       80|            498|              0|              16|            176|                2|             11|                  4|                9|                5|           0|           0|           0|           1|           0|       0|            3|       11|       0|          1782|             26|
|2278|      1985|  2n Cycle|        Single|33812.0|      1|       0| 2012-11-03|     86|       4|       17|             19|             30|              24|             39|                2|              2|                  1|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|           133|              8|
+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
only showing top 20 rows

###**3. Inserir o valor '52247.251354' (renda média) para os 24 valores ausentes da coluna 'Income'...**

In [ ]:
'''
Identifica os valores ausentes da coluna 'Renda' e substitui por 
'52247.251354' (renda média).
'''
df5 = df5.fillna(value=52247.251354, subset=['Income'])
df5.show()

+----+----------+----------+--------------+--------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
|  ID|Year_Birth| Education|Marital_Status|  Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProducts|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|MntAllProducts|NumAllPurchases|
+----+----------+----------+--------------+--------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
|5524|      1957|Graduation|        Single| 58138.0|      0|       0| 2012-09-04|     58|     635|       88|            546|            172|              88|             88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|          1617|             25|
|2174|      1954|Graduation|        Single| 46344.0|      1|       1| 2014-03-08|     38|      11|        1|              6|              2|               1|              6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|            27|              6|
|4141|      1965|Graduation|      Together| 71613.0|      0|       0| 2013-08-21|     26|     426|       49|            127|            111|              21|             42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|           776|             21|
|6182|      1984|Graduation|      Together| 26646.0|      1|       0| 2014-02-10|     26|      11|        4|             20|             10|               3|              5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|            53|              8|
|5324|      1981|       PhD|       Married| 58293.0|      1|       0| 2014-01-19|     94|     173|       43|            118|             46|              27|             15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|           422|             19|
|7446|      1967|    Master|      Together| 62513.0|      0|       1| 2013-09-09|     16|     520|       42|             98|              0|              42|             14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|           716|             22|
| 965|      1971|Graduation|      Divorced| 55635.0|      0|       1| 2012-11-13|     34|     235|       65|            164|             50|              49|             27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|           590|             21|
|6177|      1985|       PhD|       Married| 33454.0|      1|       0| 2013-05-08|     32|      76|       10|             56|              3|               1|             23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|           169|             10|
|4855|      1974|       PhD|      Together| 30351.0|      1|       0| 2013-06-06|     19|      14|        0|             24|              3|               3|              2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|            46|              6|
|5899|      1950|       PhD|      Together|  5648.0|      1|       1| 2014-03-13|     68|      28|        0|              6|              1|               1|             13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|            49|              2|
|1994|      1983|Graduation|       Married|52247.25|      1|       0| 2013-11-15|     11|       5|        5|              6|              0|               2|              1|                1|              1|                  0|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|            19|              4|
| 387|      1976|     Basic|       Married|  7500.0|      0|       0| 2012-11-13|     59|       6|       16|             11|             11|               1|             16|                1|              2|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            61|              6|
|2125|      1959|Graduation|      Divorced| 63033.0|      0|       0| 2013-11-15|     82|     194|       61|            480|            225|             112|             30|                1|              3|                  4|                8|                2|           0|           0|           0|           0|           0|       0|            3|       11|       0|          1102|             16|
|8180|      1952|    Master|      Divorced| 59354.0|      1|       1| 2013-11-15|     53|     233|        2|             53|              3|               5|             14|                3|              6|                  1|                5|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|           310|             15|
|2569|      1987|Graduation|       Married| 17323.0|      0|       0| 2012-10-10|     38|       3|       14|             17|              6|               1|              5|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            46|              5|
|2114|      1946|       PhD|        Single| 82800.0|      0|       0| 2012-11-24|     23|    1006|       22|            115|             59|              68|             45|                1|              7|                  6|               12|                3|           0|           0|           1|           1|           0|       0|            3|       11|       1|          1315|             26|
|9736|      1980|Graduation|       Married| 41850.0|      1|       1| 2012-12-24|     51|      53|        5|             19|              2|              13|              4|                3|              3|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            96|              9|
|4939|      1946|Graduation|      Together| 37760.0|      0|       0| 2012-08-31|     20|      84|        5|             38|            150|              12|             28|                2|              4|                  1|                6|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|           317|             13|
|6565|      1949|    Master|       Married| 76995.0|      0|       1| 2013-03-28|     91|    1012|       80|            498|              0|              16|            176|                2|             11|                  4|                9|                5|           0|           0|           0|           1|           0|       0|            3|       11|       0|          1782|             26|
|2278|      1985|  2n Cycle|        Single| 33812.0|      1|       0| 2012-11-03|     86|       4|       17|             19|             30|              24|             39|                2|              2|                  1|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|           133|              8|
+----+----------+----------+--------------+--------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
only showing top 20 rows

###**4. Alterar o tipo da coluna 'Dt_Customer' para data.**

In [ ]:
'''
Alterando o tipo da coluna 'Dt_Customer' para 'date'.
'''
df5 = df5.withColumn("Dt_Customer", 
                                  df5["Dt_Customer"]
                                  .cast('date'))
df5.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: float (nullable = false)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: date (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProducts: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- AcceptedCmp3: integer (nullable = true)
 |-- AcceptedCmp4: integer (nullable = true)
 |-- AcceptedCmp5: integer (nullable = true)
 |-- AcceptedCmp1: integer (nullable = true)
 |-- AcceptedCmp2: integer (nullable = true)
 |-- Complain: integer (nullable = true)
 |-- Z_CostContact: integer (nullable = true)
 |-- Z_Revenue: integer (nullable = true)
 |-- Response: integer (nullable = true)
 |-- MntAllProducts: integer (nullable = true)
 |-- NumAllPurchases: integer (nullable = true)

###**5. Utilizar filtros, ordenação e agrupamento, trazendo dados relevantes para o negócio em questão. (Use a sua capacidade analítica)**

In [ ]:
'''
Aplicando filtros
'''
'''
Função: Filtro para trazer as informações dos clientes que gastaram mais de 2500, considerando a soma de todos os produtos.
'''
df5.filter((F.col('MntAllProducts') > 2500)).show()

+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
|  ID|Year_Birth| Education|Marital_Status| Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProducts|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|MntAllProducts|NumAllPurchases|
+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
|5735|      1991|    Master|        Single|90638.0|      0|       0| 2014-02-13|     29|    1156|      120|            915|             94|             144|             96|                1|              3|                  4|               10|                1|           0|           0|           1|           0|           0|       0|            3|       11|       0|          2525|             18|
|1763|      1988|Graduation|      Together|87679.0|      0|       0| 2013-07-27|     62|    1259|      172|            815|             97|             148|             33|                1|              7|                 11|               10|                4|           1|           0|           1|           1|           0|       0|            3|       11|       1|          2524|             29|
|5350|      1991|    Master|        Single|90638.0|      0|       0| 2014-02-13|     29|    1156|      120|            915|             94|             144|             96|                1|              3|                  4|               10|                1|           0|           0|           1|           0|           0|       0|            3|       11|       1|          2525|             18|
+----+----------+----------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+

In [ ]:
'''
Função: SORT ASC - Ordenação pela coluna 'Year_Birth' em ordem ascendente.
'''
df5.sort(F.col('Year_Birth').asc()).show()

+-----+----------+----------+--------------+--------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
|   ID|Year_Birth| Education|Marital_Status|  Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProducts|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|MntAllProducts|NumAllPurchases|
+-----+----------+----------+--------------+--------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
|11004|      1893|  2n Cycle|        Single| 60182.0|      0|       1| 2014-05-17|     23|       8|        0|              5|              7|               0|              2|                1|              1|                  0|                2|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|            22|              4|
| 1150|      1899|       PhD|      Together| 83532.0|      0|       0| 2013-09-26|     36|     755|      144|            562|            104|              64|            224|                1|              4|                  6|                4|                1|           0|           0|           1|           0|           0|       0|            3|       11|       0|          1853|             15|
| 7829|      1900|  2n Cycle|      Divorced| 36640.0|      1|       0| 2013-09-26|     99|      15|        6|              8|              7|               4|             25|                1|              2|                  1|                2|                5|           0|           0|           0|           0|           0|       1|            3|       11|       0|            65|              6|
| 6663|      1940|       PhD|        Single| 51141.0|      0|       0| 2013-07-08|     96|     144|        0|              7|              0|               0|              6|                1|              3|                  1|                4|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|           157|              9|
| 6932|      1941|       PhD|       Married| 93027.0|      0|       0| 2013-04-13|     77|    1285|       42|            716|             55|               0|             21|                0|              7|                 10|                5|                2|           0|           0|           1|           0|           0|       0|            3|       11|       0|          2119|             22|
| 6142|      1943|    Master|       Married| 65073.0|      0|       0| 2013-08-20|     65|     629|       17|            177|             69|               0|              8|                1|              5|                  3|                5|                2|           0|           0|           0|           0|           0|       1|            3|       11|       0|           900|             14|
| 7106|      1943|       PhD|       Married| 75865.0|      0|       0| 2014-03-31|     73|     483|        0|            591|            156|               0|             12|                1|              3|                  5|               10|                1|           0|           0|           0|           0|           0|       0|            3|       11|       0|          1242|             19|
| 4994|      1943|    Master|        Single| 77598.0|      0|       0| 2013-10-01|     53|    1193|       33|            281|            129|              66|             33|                1|              7|                  5|               13|                3|           0|           0|           1|           0|           0|       0|            3|       11|       0|          1735|             26|
| 5250|      1943|    Master|         Widow|52247.25|      0|       0| 2013-10-30|     75|     532|      126|            490|            164|             126|            126|                1|              5|                  5|               11|                1|           0|           0|           1|           0|           0|       0|            3|       11|       1|          1564|             22|
| 2968|      1943|       PhD|      Divorced| 48948.0|      0|       0| 2013-02-01|     53|     437|        8|            206|            160|              49|             42|                2|              7|                 10|                5|                6|           1|           0|           0|           0|           0|       0|            3|       11|       1|           902|             24|
| 8800|      1943|       PhD|      Divorced| 48948.0|      0|       0| 2013-02-01|     53|     437|        8|            206|            160|              49|             42|                2|              7|                 10|                5|                6|           1|           0|           0|           0|           0|       0|            3|       11|       1|           902|             24|
| 1453|      1943|       PhD|         Widow| 57513.0|      0|       0| 2013-07-06|     59|     735|       40|            183|             52|              20|             30|                2|              9|                  3|               13|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|          1060|             27|
|  466|      1944|Graduation|       Married| 65275.0|      0|       0| 2013-04-03|      9|     388|       14|            218|             91|              14|             21|                1|              4|                  3|               13|                2|           0|           0|           0|           0|           0|       0|            3|       11|       0|           746|             21|
| 9930|      1944|       PhD|        Single| 82716.0|      0|       0| 2013-11-05|      8|     606|      148|            228|             15|             148|             22|                1|              6|                  8|               13|                2|           0|           0|           0|           0|           0|       0|            3|       11|       0|          1167|             28|
| 3711|      1944|    Master|       Married| 80184.0|      0|       0| 2014-03-01|     19|    1035|      134|            670|             25|              38|              0|                1|              6|                  3|               10|                3|           0|           0|           1|           1|           0|       0|            3|       11|       0|          1902|             20|
| 4587|      1944|    Master|         Widow| 45006.0|      0|       0| 2013-07-18|     90|     162|       25|             53|             16|               0|             10|                1|              3|                  1|                7|                3|           0|           0|           0|           0|           0|       0|            3|       11|       0|           266|             12|
| 1740|      1944|Graduation|       Married| 55956.0|      0|       0| 2014-04-07|     22|     760|       38|            104|             50|               9|             38|                2|              7|                  3|                4|                4|           0|           1|           0|           0|           0|       0|            3|       11|       0|           999|             16|
| 6605|      1944|       PhD|      Divorced| 55614.0|      0|       0| 2013-11-27|     85|     504|       13|            131|              8|               0|             26|                1|              9|                  4|                6|                7|           0|           1|           0|           0|           0|       0|            3|       11|       0|           682|             20|
| 4310|      1944|Graduation|       Married| 80589.0|      0|       0| 2014-01-22|     25|     507|       93|            520|            242|              40|             26|                1|              5|                 10|                5|                1|           0|           0|           0|           1|           0|       0|            3|       11|       1|          1428|             21|
| 9260|      1945|       PhD|       Married| 70356.0|      0|       0| 2012-11-05|     20|    1349|       16|            249|             43|              16|             33|                2|             10|                  6|                9|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|          1706|             27|
+-----+----------+----------+--------------+--------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
only showing top 20 rows

In [ ]:
'''
Função: GROUP BY - Agrupamento pela coluna 'Marital_Status'.
'''
df5.groupBy('Marital_Status').count().show()

+--------------+-----+
|Marital_Status|count|
+--------------+-----+
|          YOLO|    2|
|      Together|  580|
|       Married|  864|
|        Absurd|    2|
|         Widow|   77|
|      Divorced|  232|
|         Alone|    3|
|        Single|  480|
+--------------+-----+

###**6. Utilizar pelo menos duas Window Functions.**

In [ ]:
'''
Particionado os dados usando 'Window.partitionBy()'
'''
w0 = Window.partitionBy(F.col('Education')).orderBy('Income')

In [ ]:
'''
Window Functions 1: RANK
'''
df5.withColumn('rank', F.rank().over(w0)).show()

+-----+----------+---------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+----+
|   ID|Year_Birth|Education|Marital_Status| Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProducts|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|MntAllProducts|NumAllPurchases|rank|
+-----+----------+---------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+----+
| 9909|      1996| 2n Cycle|       Married| 7500.0|      0|       0| 2012-11-09|     24|       3|       18|             14|             15|              22|             50|                3|              3|                  1|                3|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|           122|             10|   1|
|  456|      1986| 2n Cycle|       Married| 7500.0|      1|       0| 2013-02-07|     96|       1|       11|              5|              4|               6|              9|                2|              2|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            36|              7|   1|
|10001|      1985| 2n Cycle|      Together| 7500.0|      1|       0| 2012-08-01|     98|       5|       17|             17|             13|              14|             34|                4|              2|                  1|                3|                9|           0|           0|           0|           0|           0|       0|            3|       11|       0|           100|             10|   1|
|10659|      1979| 2n Cycle|      Together| 7500.0|      1|       0| 2013-05-07|      7|       2|        8|             11|              3|               8|             21|                4|              3|                  2|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|            53|             11|   1|
| 5987|      1989| 2n Cycle|      Together|10404.0|      1|       0| 2014-05-04|     52|       2|        2|             11|             10|               6|             12|                2|              1|                  0|                4|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|            43|              7|   5|
|10241|      1975| 2n Cycle|      Divorced|11448.0|      0|       0| 2013-12-15|     16|       0|        0|              0|              6|               2|              6|                1|              1|                  0|                2|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|            14|              4|   6|
| 1773|      1978| 2n Cycle|       Married|12393.0|      0|       0| 2012-12-04|     38|       5|        6|             15|             11|               7|             13|                1|              2|                  0|                3|                9|           0|           0|           0|           0|           0|       0|            3|       11|       0|            57|              6|   7|
| 8812|      1979| 2n Cycle|      Divorced|13533.0|      1|       0| 2013-03-10|     45|      12|        3|              8|              8|               0|             17|                2|              2|                  0|                3|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|            48|              7|   8|
| 8213|      1980| 2n Cycle|      Together|14515.0|      1|       0| 2012-11-09|     71|       6|        4|              9|              6|              36|             35|                4|              2|                  2|                3|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|            96|             11|   9|
| 1241|      1984| 2n Cycle|       Married|14796.0|      1|       0| 2012-09-17|      1|      13|        3|              8|              7|               4|             16|                2|              1|                  0|                3|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|            51|              6|  10|
| 8420|      1970| 2n Cycle|       Married|15315.0|      0|       0| 2013-08-03|     27|       7|        4|             13|             15|               8|             17|                2|              2|                  0|                4|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|            64|              8|  11|
|10065|      1970| 2n Cycle|       Married|15315.0|      0|       0| 2013-08-03|     27|       7|        4|             13|             15|               8|             17|                2|              2|                  0|                4|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|            64|              8|  11|
|10995|      1988| 2n Cycle|       Married|15716.0|      1|       0| 2012-11-12|      8|      16|        5|             30|              8|               7|             26|                3|              3|                  0|                4|                8|           0|           0|           0|           0|           0|       1|            3|       11|       0|            92|             10|  13|
| 3559|      1988| 2n Cycle|       Married|16248.0|      1|       0| 2014-05-10|     77|      12|       11|             10|              3|              12|              9|                3|              2|                  1|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|            57|              9|  14|
| 7235|      1975| 2n Cycle|       Married|17003.0|      1|       0| 2013-12-09|     37|       2|        5|             12|              4|               8|              7|                3|              2|                  0|                4|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|            38|              9|  15|
| 3270|      1978| 2n Cycle|      Together|17117.0|      1|       0| 2013-01-17|     96|      12|       23|             38|             30|              18|              7|                4|              3|                  1|                3|                9|           0|           0|           0|           0|           0|       0|            3|       11|       0|           128|             11|  16|
| 3102|      1981| 2n Cycle|      Together|19414.0|      1|       0| 2013-10-16|     32|       2|        3|             12|              3|               5|              7|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            32|              5|  17|
| 6504|      1975| 2n Cycle|      Together|19789.0|      1|       0| 2013-11-20|     24|       2|        5|              9|             28|               6|             28|                3|              2|                  1|                3|                5|           1|           0|           0|           0|           0|       0|            3|       11|       0|            78|              9|  18|
| 2106|      1974| 2n Cycle|       Married|20130.0|      0|       0| 2014-03-17|     99|       0|        6|              3|              7|               6|             12|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            34|              5|  19|
| 3363|      1974| 2n Cycle|       Married|20130.0|      0|       0| 2014-03-17|     99|       0|        6|              3|              7|               6|             12|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            34|              5|  19|
+-----+----------+---------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+----+
only showing top 20 rows

In [ ]:
'''
Window Functions 2: LEAD
'''
df5.withColumn('lead', F.lead('Income',1).over(w0)).show()

+-----+----------+---------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+-------+
|   ID|Year_Birth|Education|Marital_Status| Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProducts|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|MntAllProducts|NumAllPurchases|   lead|
+-----+----------+---------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+-------+
| 9909|      1996| 2n Cycle|       Married| 7500.0|      0|       0| 2012-11-09|     24|       3|       18|             14|             15|              22|             50|                3|              3|                  1|                3|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|           122|             10| 7500.0|
|  456|      1986| 2n Cycle|       Married| 7500.0|      1|       0| 2013-02-07|     96|       1|       11|              5|              4|               6|              9|                2|              2|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            36|              7| 7500.0|
|10001|      1985| 2n Cycle|      Together| 7500.0|      1|       0| 2012-08-01|     98|       5|       17|             17|             13|              14|             34|                4|              2|                  1|                3|                9|           0|           0|           0|           0|           0|       0|            3|       11|       0|           100|             10| 7500.0|
|10659|      1979| 2n Cycle|      Together| 7500.0|      1|       0| 2013-05-07|      7|       2|        8|             11|              3|               8|             21|                4|              3|                  2|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|            53|             11|10404.0|
| 5987|      1989| 2n Cycle|      Together|10404.0|      1|       0| 2014-05-04|     52|       2|        2|             11|             10|               6|             12|                2|              1|                  0|                4|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|            43|              7|11448.0|
|10241|      1975| 2n Cycle|      Divorced|11448.0|      0|       0| 2013-12-15|     16|       0|        0|              0|              6|               2|              6|                1|              1|                  0|                2|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|            14|              4|12393.0|
| 1773|      1978| 2n Cycle|       Married|12393.0|      0|       0| 2012-12-04|     38|       5|        6|             15|             11|               7|             13|                1|              2|                  0|                3|                9|           0|           0|           0|           0|           0|       0|            3|       11|       0|            57|              6|13533.0|
| 8812|      1979| 2n Cycle|      Divorced|13533.0|      1|       0| 2013-03-10|     45|      12|        3|              8|              8|               0|             17|                2|              2|                  0|                3|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|            48|              7|14515.0|
| 8213|      1980| 2n Cycle|      Together|14515.0|      1|       0| 2012-11-09|     71|       6|        4|              9|              6|              36|             35|                4|              2|                  2|                3|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|            96|             11|14796.0|
| 1241|      1984| 2n Cycle|       Married|14796.0|      1|       0| 2012-09-17|      1|      13|        3|              8|              7|               4|             16|                2|              1|                  0|                3|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|            51|              6|15315.0|
| 8420|      1970| 2n Cycle|       Married|15315.0|      0|       0| 2013-08-03|     27|       7|        4|             13|             15|               8|             17|                2|              2|                  0|                4|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|            64|              8|15315.0|
|10065|      1970| 2n Cycle|       Married|15315.0|      0|       0| 2013-08-03|     27|       7|        4|             13|             15|               8|             17|                2|              2|                  0|                4|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|            64|              8|15716.0|
|10995|      1988| 2n Cycle|       Married|15716.0|      1|       0| 2012-11-12|      8|      16|        5|             30|              8|               7|             26|                3|              3|                  0|                4|                8|           0|           0|           0|           0|           0|       1|            3|       11|       0|            92|             10|16248.0|
| 3559|      1988| 2n Cycle|       Married|16248.0|      1|       0| 2014-05-10|     77|      12|       11|             10|              3|              12|              9|                3|              2|                  1|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|            57|              9|17003.0|
| 7235|      1975| 2n Cycle|       Married|17003.0|      1|       0| 2013-12-09|     37|       2|        5|             12|              4|               8|              7|                3|              2|                  0|                4|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|            38|              9|17117.0|
| 3270|      1978| 2n Cycle|      Together|17117.0|      1|       0| 2013-01-17|     96|      12|       23|             38|             30|              18|              7|                4|              3|                  1|                3|                9|           0|           0|           0|           0|           0|       0|            3|       11|       0|           128|             11|19414.0|
| 3102|      1981| 2n Cycle|      Together|19414.0|      1|       0| 2013-10-16|     32|       2|        3|             12|              3|               5|              7|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            32|              5|19789.0|
| 6504|      1975| 2n Cycle|      Together|19789.0|      1|       0| 2013-11-20|     24|       2|        5|              9|             28|               6|             28|                3|              2|                  1|                3|                5|           1|           0|           0|           0|           0|       0|            3|       11|       0|            78|              9|20130.0|
| 2106|      1974| 2n Cycle|       Married|20130.0|      0|       0| 2014-03-17|     99|       0|        6|              3|              7|               6|             12|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            34|              5|20130.0|
| 3363|      1974| 2n Cycle|       Married|20130.0|      0|       0| 2014-03-17|     99|       0|        6|              3|              7|               6|             12|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|            34|              5|20193.0|
+-----+----------+---------+--------------+-------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+-------+
only showing top 20 rows

###**7.Coversão do dataframe tratado para arquivo .csv.**

In [ ]:
'''
Coversão do dataframe tratado em arquivo .csv
Arquivo é salvo no Drive montado automaticamente.
'''
df5.toPandas().to_csv('marketing_campaign_tratado_pyspark.csv')

##**(L) Carregamento dos dados**

###**GCS / Bucket**

In [ ]:
'''
Utilizando o objeto 'blob' quando do acesso ao bucket.
Atribuindo operação a uma variável.

Os blobs são objetos que podem conter grandes quantidades de texto ou 
dados binários, incluindo imagens, documentos, mídia de streaming e 
dados de arquivos.
'''

blob003 = bucket1.blob('marketing_campaign_tratado_pyspark.csv')

In [ ]:
'''
Realizando o upload do arquivo do drive montado para o bucket
anteriormente especificado.
'''
blob003.upload_from_filename('/content/marketing_campaign_tratado_pyspark.csv')

###**MongoDB Atlas**

In [ ]:
'''
Estrutura de armazenamento
'''

'''
Criando a collection no MongoDB Atlas e
armazenado essa collection numa variável.
'''

if 'tratado_pyspark' not in controle:
  db.create_collection('tratado_pyspark')
var_tratado_pyspark_mongo = db['tratado_pyspark']

In [ ]:
'''
Inserção dos dados
'''
'''
Inserindo os dados do arquivo .csv tratado no Mongo Atlas.
'''
if var_tratado_pyspark_mongo.estimated_document_count()<1:
  var_tratado_pyspark_mongo.insert_many(df.to_dict(orient='records'))

In [ ]:
'''
Validação (double-check)
'''
'''
Validação quantitativa. Verificando a quantidade de 'documents' inseridos.
'''
var_tratado_pyspark_mongo.count_documents({})
print(var_tratado_pyspark_mongo.count_documents({}))

2240

#**Nível SparkSQL**

####**Utilizar no minimo 5 consultas diferentes utilizando o SparkSQL, comentando o porquê de ter escolhido essas funções e explicando o que cada consulta faz.**

In [ ]:
'''
Consulta geral do DataFrame
Alguns dados estatístico.
'''
df5.summary().show()

+-------+------------------+------------------+---------+--------------+------------------+-------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+-----------------+----------------+-----------------+------------------+-------------------+-----------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------+---------+-------------------+-----------------+------------------+
|summary|                ID|        Year_Birth|Education|Marital_Status|            Income|            Kidhome|          Teenhome|          Recency|          MntWines|         MntFruits|  MntMeatProducts|   MntFishProducts| MntSweetProducts| MntGoldProducts|NumDealsPurchases|   NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|       AcceptedCmp3|       AcceptedCmp4|       AcceptedCmp5|       AcceptedCmp1|        AcceptedCmp2|           Complain|Z_CostContact|Z_Revenue|           Response|   MntAllProducts|   NumAllPurchases|
+-------+------------------+------------------+---------+--------------+------------------+-------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+-----------------+----------------+-----------------+------------------+-------------------+-----------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------+---------+-------------------+-----------------+------------------+
|  count|              2240|              2240|     2240|          2240|              2240|               2240|              2240|             2240|              2240|              2240|             2240|              2240|             2240|            2240|             2240|              2240|               2240|             2240|             2240|               2240|               2240|               2240|               2240|                2240|               2240|         2240|     2240|               2240|             2240|              2240|
|   mean| 5592.159821428571|1968.8058035714287|     null|          null|52247.251339285714|0.44419642857142855|           0.50625|        49.109375| 303.9357142857143|26.302232142857143|           166.95| 37.52544642857143|27.06294642857143|       44.021875|            2.325| 4.084821428571429| 2.6620535714285714|5.790178571428571|5.316517857142857|0.07276785714285715|0.07455357142857143|0.07276785714285715|0.06428571428571428|0.013392857142857142|           0.009375|          3.0|     11.0|0.14910714285714285|605.7982142857143|14.862053571428572|
| stddev|3246.6621975643416|11.984069456885827|     null|          null| 25037.79716839231| 0.5383980977345935|0.5445382307698761|28.96245280837821|336.59739260537197|39.773433764578584|225.7153725117536|54.628979402878095|41.28049848785491|52.1674389149973| 1.93223750085598|2.7787141473881007| 2.9231006555397463|3.250958145674428| 2.42664500954729| 0.2598130699218951|0.26272828485356176| 0.2598130699218953|0.24531597433401406| 0.11497560625548417|0.09639116794449748|          0.0|      0.0|0.35627358640847934|602.2492880109676| 7.677172608175905|
|    min|                 0|              1893| 2n Cycle|        Absurd|            1730.0|                  0|                 0|                0|                 0|                 0|                0|                 0|                0|               0|                0|                 0|                  0|                0|                0|                  0|                  0|                  0|                  0|                   0|                  0|            3|       11|                  0|                5|                 0|
|    25%|              2826|              1959|     null|          null|           35523.0|                  0|                 0|               24|                23|                 1|               16|                 3|                1|               9|                1|                 2|                  0|                3|                3|                  0|                  0|                  0|                  0|                   0|                  0|            3|       11|                  0|               68|                 8|
|    50%|              5455|              1970|     null|          null|           51717.0|                  0|                 0|               49|               173|                 8|               67|                12|                8|              24|                2|                 4|                  2|                5|                6|                  0|                  0|                  0|                  0|                   0|                  0|            3|       11|                  0|              396|                15|
|    75%|              8427|              1977|     null|          null|           68281.0|                  1|                 1|               74|               504|                33|              232|                50|               33|              56|                3|                 6|                  4|                8|                7|                  0|                  0|                  0|                  0|                   0|                  0|            3|       11|                  0|             1045|                21|
|    max|             11191|              1996|      PhD|          YOLO|          666666.0|                  2|                 2|               99|              1493|               199|             1725|               259|              263|             362|               15|                27|                 28|               13|               20|                  1|                  1|                  1|                  1|                   1|                  1|            3|       11|                  1|             2525|                44|
+-------+------------------+------------------+---------+--------------+------------------+-------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+-----------------+----------------+-----------------+------------------+-------------------+-----------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------+---------+-------------------+-----------------+------------------+

#####**1ª consulta (where): Identificando quantas vezes o salário passado como parâmetro aparece**

In [ ]:
'''
Consultando a quantidade de vezes que o salário médio 
aparece na coluna 'Income'.

Explicação: Consulta relevante para identificar, eficientemente,
a quantidade de vezes que o valor passado como parâmetro está 
na coluna 'Income'. Possui flexibilidade, aceitando qualquer valor
informado. Consulta pode ser adaptada para outras colunas.
'''
df5.where(F.col("Income").isin({'52247.25'} )).count()

24

#####**2ª consulta (select...distinct): Selecionando os valores distintos da coluna 'Marital_Status'**

In [ ]:
'''
Consultando os valores distintos da coluna 'Marital_Status'.

Explicação: Deseja-se saber os valores distintos da 
coluna 'Marital_Status'. Essa consulta atende exatamente
essa finalidade, por isso sua escolha.
'''

df5.select(df5.Marital_Status).distinct().show()

+--------------+
|Marital_Status|
+--------------+
|          YOLO|
|      Together|
|       Married|
|        Absurd|
|         Widow|
|      Divorced|
|         Alone|
|        Single|
+--------------+

#####**3ª consulta (groupBy): Selecionando algumas colunas especifícas e agrupando-as pela coluna 'MntAllProducts', com contagem de quantas vezes as colunas passadas como parâmetro ocorreram.**

In [ ]:
'''
Selecionando algumas colunas especifícas e agrupando-as pela 
coluna 'MntAllProducts', com contagem de quantas vezes os valores
das colunas passadas como parâmetro ocorreram.

Explicação: Deseja-se agrupar algumas informações para compôr
um relatório. Essa consulta atende exatamente essa finalidade, por isso
sua escolha.
'''

df5.groupBy('MntAllProducts','NumAllPurchases','Marital_Status','Income').count().show()

+--------------+---------------+--------------+-------+-----+
|MntAllProducts|NumAllPurchases|Marital_Status| Income|count|
+--------------+---------------+--------------+-------+-----+
|          1693|             29|       Married|79143.0|    1|
|           945|             24|       Married|65665.0|    1|
|           764|             23|        Single|55284.0|    1|
|          1826|             33|      Divorced|64176.0|    1|
|          1501|             23|       Married|81051.0|    1|
|           789|             23|       Married|63915.0|    1|
|            61|              7|       Married|36026.0|    1|
|            39|              9|      Divorced|29819.0|    1|
|            80|              9|        Single|32557.0|    1|
|          1231|             18|        Single|80317.0|    1|
|            31|              6|       Married|31353.0|    2|
|            28|              6|       Married|30833.0|    1|
|          1379|             17|        Single|81246.0|    1|
|          1572|             19|        Single|81741.0|    1|
|            30|              6|       Married|42169.0|    1|
|          1477|             26|      Divorced|63120.0|    1|
|           172|             12|       Married|36145.0|    1|
|          1171|             20|       Married|58512.0|    1|
|           729|             17|       Married|82017.0|    1|
|           170|             10|       Married|34838.0|    1|
+--------------+---------------+--------------+-------+-----+
only showing top 20 rows

#####**4ª consulta (orderBy): Ordenando informações pela coluna 'Income'. 10 maiores rendas.**

In [ ]:
'''
Ordenando valores pela coluna 'Income'. Trazendo os dados atrelados
às 10 maiores rendas identificadas.

Explicação: Deseja-se ordenar informações pela coluna Income. Essa 
consulta atende exatamente essa finalidade, por isso sua escolha.
'''
df5.orderBy(F.col('Income').desc()).show(10)

+-----+----------+----------+--------------+--------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
|   ID|Year_Birth| Education|Marital_Status|  Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProducts|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|MntAllProducts|NumAllPurchases|
+-----+----------+----------+--------------+--------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
| 9432|      1977|Graduation|      Together|666666.0|      1|       0| 2013-06-02|     23|       9|       14|             18|              8|               1|             12|                4|              3|                  1|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|            62|             11|
| 1503|      1976|       PhD|      Together|162397.0|      1|       1| 2013-06-03|     31|      85|        1|             16|              2|               1|              2|                0|              0|                  0|                1|                1|           0|           0|           0|           0|           0|       0|            3|       11|       0|           107|              1|
| 1501|      1982|       PhD|       Married|160803.0|      0|       0| 2012-08-04|     21|      55|       16|           1622|             17|               3|              4|               15|              0|                 28|                1|                0|           0|           0|           0|           0|           0|       0|            3|       11|       0|          1717|             44|
| 5336|      1971|    Master|      Together|157733.0|      1|       0| 2013-06-04|     37|      39|        1|              9|              2|               0|              8|                0|              1|                  0|                1|                1|           0|           0|           0|           0|           0|       0|            3|       11|       0|            59|              2|
| 8475|      1973|       PhD|       Married|157243.0|      0|       1| 2014-03-01|     98|      20|        2|           1582|              1|               2|              1|               15|              0|                 22|                0|                0|           0|           0|           0|           0|           0|       0|            3|       11|       0|          1608|             37|
| 4931|      1977|Graduation|      Together|157146.0|      0|       0| 2013-04-29|     13|       1|        0|           1725|              2|               1|              1|                0|              0|                 28|                0|                1|           0|           0|           0|           0|           0|       0|            3|       11|       0|          1730|             28|
|11181|      1949|       PhD|       Married|156924.0|      0|       0| 2013-08-29|     85|       2|        1|              2|              1|               1|              1|                0|              0|                  0|                0|                0|           0|           0|           0|           0|           0|       0|            3|       11|       0|             8|              0|
| 5555|      1975|Graduation|      Divorced|153924.0|      0|       0| 2014-02-07|     81|       1|        1|              1|              1|               1|              1|                0|              0|                  0|                0|                0|           0|           0|           0|           0|           0|       0|            3|       11|       0|             6|              0|
| 4619|      1945|       PhD|        Single|113734.0|      0|       0| 2014-05-28|      9|       6|        2|              3|              1|             262|              3|                0|             27|                  0|                0|                1|           0|           0|           0|           0|           0|       0|            3|       11|       0|           277|             27|
| 4611|      1970|Graduation|      Together|105471.0|      0|       0| 2013-01-21|     36|    1009|      181|            104|            202|              21|            207|                0|              9|                  8|               13|                3|           0|           0|           1|           1|           0|       0|            3|       11|       1|          1724|             30|
+-----+----------+----------+--------------+--------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+---------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+--------------+---------------+
only showing top 10 rows

#####**5ª consulta (groupBy...max): Agrupando os valores máximos da coluna 'NumAllPurchases' tendo como referência a coluna 'ID'.**

In [ ]:
'''
Agrupando os valores máximos da coluna 'NumAllPurchases' tendo como referência 
a coluna 'ID'.

Explicação: Deseja-se agrupar os valores máximos identificados na coluna 
'NumAllPurchases' tendo como referência a coluna 'ID'. Essa consulta atende 
exatamente essa finalidade, por isso sua escolha.
'''

df5.groupBy('ID').max('NumAllPurchases').show()

+-----+--------------------+
|   ID|max(NumAllPurchases)|
+-----+--------------------+
| 6336|                  10|
| 5300|                   6|
|10623|                   5|
| 5156|                  26|
| 3749|                  24|
| 8086|                   7|
| 6357|                  18|
| 6466|                  10|
| 1829|                  21|
|  833|                   9|
| 6658|                  32|
| 2563|                   6|
| 8932|                  25|
| 2387|                  17|
|10703|                  11|
| 3179|                  19|
|10914|                   6|
| 1127|                  20|
| 3698|                  19|
| 2811|                   7|
+-----+--------------------+
only showing top 20 rows

#**Nível DataStudio**

###**Link - Data Studio:**

https://datastudio.google.com/s/g_-fXC4Iacw  #Temporariamente com indisponibilidade dos dados para migração da base para outro 'Bucket'. Para acesso acesso ao pdf do Dashborad, clique neste link: https://github.com/tiagotff/projeto_individual_SoulCode/blob/tiagosoulcode/Dashboard_Data_Studio.pdf

###**Queries que serão representadas no DataStudio**

In [ ]:
'''
View temporária do DataFrame.
O tempo de vida dessa tabela temporária está vinculada a SparkSession
criada previamente.

Fonte: https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.createOrReplaceTempView.html
'''
df5.createOrReplaceTempView('exemplo')

In [ ]:
spark.sql('SELECT Education FROM exemplo').show()

In [ ]:
spark.sql('SELECT Marital_Status, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases FROM exemplo').show()

+--------------+-----------------+---------------+-------------------+-----------------+
|Marital_Status|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|
+--------------+-----------------+---------------+-------------------+-----------------+
|        Single|                3|              8|                 10|                4|
|        Single|                2|              1|                  1|                2|
|      Together|                1|              8|                  2|               10|
|      Together|                2|              2|                  0|                4|
|       Married|                5|              5|                  3|                6|
|      Together|                2|              6|                  4|               10|
|      Divorced|                4|              7|                  3|                7|
|       Married|                2|              4|                  0|                4|
|      Together|                1|              3|                  0|                2|
|      Together|                1|              1|                  0|                0|
|       Married|                1|              1|                  0|                2|
|       Married|                1|              2|                  0|                3|
|      Divorced|                1|              3|                  4|                8|
|      Divorced|                3|              6|                  1|                5|
|       Married|                1|              1|                  0|                3|
|        Single|                1|              7|                  6|               12|
|       Married|                3|              3|                  0|                3|
|      Together|                2|              4|                  1|                6|
|       Married|                2|             11|                  4|                9|
|        Single|                2|              2|                  1|                3|
+--------------+-----------------+---------------+-------------------+-----------------+
only showing top 20 rows

In [ ]:
spark.sql('SELECT AcceptedCmp1 FROM exemplo').show()

+------------+
|AcceptedCmp1|
+------------+
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           1|
|           0|
|           0|
|           1|
|           0|
+------------+
only showing top 20 rows

In [ ]:
spark.sql('SELECT AcceptedCmp2 FROM exemplo').show()

+------------+
|AcceptedCmp2|
+------------+
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
+------------+
only showing top 20 rows

In [ ]:
spark.sql('SELECT AcceptedCmp3 FROM exemplo').show()

+------------+
|AcceptedCmp3|
+------------+
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           1|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
+------------+
only showing top 20 rows

In [ ]:
spark.sql('SELECT AcceptedCmp4 FROM exemplo').show()

+------------+
|AcceptedCmp4|
+------------+
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
+------------+
only showing top 20 rows

In [ ]:
spark.sql('SELECT AcceptedCmp5 FROM exemplo').show()

+------------+
|AcceptedCmp5|
+------------+
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           1|
|           0|
|           0|
|           0|
|           0|
+------------+
only showing top 20 rows

In [ ]:
spark.sql('SELECT Marital_Status FROM exemplo').show()

+--------------+
|Marital_Status|
+--------------+
|        Single|
|        Single|
|      Together|
|      Together|
|       Married|
|      Together|
|      Divorced|
|       Married|
|      Together|
|      Together|
|       Married|
|       Married|
|      Divorced|
|      Divorced|
|       Married|
|        Single|
|       Married|
|      Together|
|       Married|
|        Single|
+--------------+
only showing top 20 rows